<div>
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="input" class="form-control" name="title"  placeholder="title" [(ngModel)]="note.title">
    </div>
    <div class="form-group">
      <label>User Id</label>
      <input type="input" class="form-control" name="_id" placeholder="id" [(ngModel)]="note._id">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="input" class="form-control" name="username"  placeholder="username" [(ngModel)]="note.username">
    </div>
    <div class="formgroup">
      <label>Content</label>
      <textarea class="form-control" rows="5" name="content" [(ngModel)]="note.content">
    </textarea>
      <br>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input type="input" class="form-control" name="tags"  placeholder="tags" [(ngModel)]="note.tags">
    </div>
    <div class="form-group">
      <label>Date Created</label>
      <input type="input" class="form-control" name="date_created" placeholder="date_created" [(ngModel)]="note.date_created">
    </div>
    
    
    <button type="button"(click)="clearNote()" class="btn btn-primary">Clear</button>
    
  </form>
</div>
