<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
  
      <a class="navbar-brand"href="#"> My Note</a>
     
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a routerLink="/notes" routerLinkActive="active"><span class ="glyphicon glyphicon-th-list"></span> My Notes</a></li>
      <li><a routerLink="/search" routerLinkActive="active"><span class ="glyphicon glyphicon-search"></span> Search</a></li>
      <!-- <li><a routerLink="/account" routerLinkActive="active"><span class ="glyphicon glyphicon-user"></span> Account</a></li> -->
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>