<div class="row">
  <div class="col-sm-9">
    <div *ngIf="!hidenewNote">
      <h2>New Note</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitAddNote(form.value)" class="well">
        <div class="form-group">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control"  name="_id" ngModel>
              </div>
          <label>Title</label>
          <input type="text" class="form-control" name="title" ngModel>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" ngModel>
        </div>
        <div class="form-group">
          <label>Content</label>
          <textarea class="form-control" rows="5" name="content" ngModel>
            </textarea>
        </div>
        <div class="form-group">
          <label>Tags</label>
          <input type="text" class="form-control"  name="tags" ngModel>
        </div>
        <div class="form-group">
          <label>Date Created</label>
          <input type="date" class="form-control" name="date_created" ngModel>
        </div>
        
        <button type="submit" class="btn btn-success">Save</button>

      </form>
    </div>
    <note-detail (updateNoteEvent)="onUpdateNoteEvent($event)"
                 (deleteNoteEvent)="onDeleteNoteEvent($event)"
     *ngIf="selectedNote && hidenewNote" 
     [note]="selectedNote"></note-detail>
  </div>
  <div class="col-sm-3">
    <button (click)="newNote()" style="margin-bottom:2px;" type="button" class="btn btn-success btn-block">+ New Note</button>
    <note-list (SelectNote)="onSelectNote($event)" [notes]="notes"></note-list>
  </div>
</div>