
<div class="row">
    <div class="col-sm-4">
        <label for="searchByTag">Search by tag:</label>
        <input class="form-control" type="text" placeholder="Tag" [(ngModel)]="searchCriteria" />
    <br>
        <button class="btn btn-default" (click)="getSearchNotes()">Search</button>
        
        <button class="btn btn-default" (click)="clearSearch()">Clear</button>        
    <br>
    <br>
    
    <h5 style ="font-weight: bold">Search Results: </h5>
      <search-list (SelectNote)="onSelectResult($event)"[notes]="notes"></search-list>
    </div> 
    <div class="row">
      <div class="col-sm-8">
        <search-detail *ngIf="selectedResult"[note]="selectedResult"></search-detail>
      </div>
    </div>
</div> 

